@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


/* =====================Общие записи===================== */

body {
    font-family: Lato;
    color:#424551;
    font-size: 16px;
}
.wrapper {
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    width: 810px;
    margin: 0 0 0 345px;
}
/* ======================================================= */
.header {
    margin-top: 152px;
}
.header__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    color: #1E212C;
    margin-bottom: 26px;
}
.header__subtitle{
    margin-bottom: 39.89px;
}
.header__date {
    display: inline-block;
    font-size: 16px;
    line-height: 1.6;
    color: #787A80;
    margin-bottom: 20px;
}
.header__month {
    background: url(../img/month.svg)0px 2px no-repeat;
    margin-right: 48px;
    padding-left: 24px;
}
.header__time {
    background: url(../img/time.svg)0 1px no-repeat;
    padding-left: 24px;
}
.header__social-networks {
    width: 142px;
}
.social-networks__text {
    display: inline-block;
    width: 142px;
    font-weight: 700;
    line-height: 1.6;
    background: url(../img/facebook.svg)66px 2px no-repeat,url(../img/twiter.svg)95px 6px no-repeat,url(../img/in.svg)125px 2px no-repeat;
}
.social-networks__text a{
    margin-left: 10px;
    opacity: 0;
}
.social-networks__text a:first-of-type{
    margin-left: 20px;
}
.main__image {
    margin-bottom: 60px;
}
.main__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 24px;
}
.main__text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.main__text p {
    line-height: 1.6;
}
.main__text-first {
    margin-bottom: 26px;
}
.main__text-second {
    margin-bottom: 48px;
}
.main__quote {
    background: url(../img/icon1.svg)0px top no-repeat, 
                url(../img/icon1.svg)17px top no-repeat;
    margin-bottom: 48px;
}
.main__quote-text {
    display: inline-block;
    font-weight: 700;
    padding-left: 60px;
    font-size: 20px;
    line-height: 1.5;
}
.main__paragraph-text{
    line-height: 1.6;
    width: 810px;
    margin-bottom: 24px;
}
.main__list, .list{
    margin-bottom: 25px;
    width: 600px;
}
.paragraph {
    margin-left: 840px;
    margin-bottom: 500px;
}
.list__item{
    background: url(../img/icon2.svg)left 6px no-repeat;
    line-height: 1.6;
    margin-bottom: 4px;
    padding-left: 32px;
}
.footer__social-networks{
    max-width: 142px;
    margin: 0 0 0 auto;
}