@import 'null.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body{
    font-family: 'Caveat', cursive;
}
.wrapper {
    background: linear-gradient(360deg, rgba(4,194,0,0) 0%, rgba(73,237,86,0) 20%, rgba(0,255,29,0.865983893557423) 100%),url(../img/icon.png)left 100px bottom 100px/ 300px no-repeat;
    overflow: hidden;
    min-width: 100%;
}

.main__container {
    max-width: 1000px;
    margin: 0 auto 19px;
}
.main__label{
    color: #f2ff00;
    text-shadow: 5px 5px 7px black;
    margin-bottom: 20px;
    padding: 10px 0;
    margin-top: 10px;
    font-weight: 700;
}
.main__label:hover {
    outline: none;
    box-shadow: 0px 0px 10px 5px green;
}
.main__title {
    text-align: center;
    font-size: 70px;
}
.main__subtitle {
    text-align: center;
    font-size: 40px;
    
}
.game {
    background:url(../img/finishpng.png)right 7px top 125px/30px no-repeat ,url(../img/START_logo_2021.svg.png)left 8px top 155px/ 30px no-repeat,url(../img/labirint.jpg)center /cover no-repeat;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.game:hover {
    box-shadow:0px 0px 5px 5px green;
}
.game__block {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: green;
}
.game__block:not(:first-child){
    visibility: hidden;
}

.game__block_1 {
    margin-top: 175px;
    width: 45px;
    height: 26px;
    
}
.game__block_2 {
    margin-left: -4px;
    width: 30px;
    height: 155px;
    background-color: green;
}
.game__block_2:hover,.game__block_3:hover,.game__block_4:hover,.game__block_5:hover,.game__block_6:hover,.game__block_7:hover,.game__block_8:hover,.game__block_9:hover,.game__block_10:hover,.game__block_11:hover,.game__block_12:hover,.game__block_13:hover,.game__block_14:hover,
.game__block_15:hover{
    visibility: visible;
}
.game__block_3 {
    width: 87px;
    margin-bottom: 125px;
    margin-left: -4px;
    background-color: green;
}
.game__block_4 {
    background-color: green;
    height: 46px;
    margin-bottom: 80px;
    margin-left: -34px;
}
.game__block_5 {
    width: 42px;
    margin-bottom: 80px;
    margin-left: -75px;
}
.game__block_6 {
    height: 208px;
    margin-bottom: -128px;
    margin-left: -46px;
}
.game__block_7 {
    width: 42px;
    margin-bottom: -128px;
    margin-left: -5px;
}
.game__block_8 {
    margin-bottom: -100px;
    height: 170px;
    margin-left: -34px;
}
.game__block_9 {
    margin-bottom: 40px;
    margin-left: -4px;
    width: 210px;
}
.game__block_10 {
    margin-bottom: 70px;
    margin-left: -34px;
    height: 43px;
}
.game__block_11 {
    margin-bottom: 83px;
    margin-left: -5px;
    width: 43px;
}
.game__block_12 {
    margin-bottom: 110px;
    margin-left: -34px;
    height: 45px;
}
.game__block_13 {
    margin-bottom: 125px;
    margin-left: -10px;
    width: 47px;
}
.game__block_14 {
    margin-bottom: 80px;
    margin-left: -34px;
    height: 50px;
}
.game__block_15 {
    margin-bottom: 80px;
    margin-left: -10px;
    width: 50px;
}

/* =====================animation================= */

.game__block_1:hover + .game__block_2,
.game__block_2:hover + .game__block_3,
.game__block_3:hover + .game__block_4,
.game__block_4:hover + .game__block_5,
.game__block_5:hover + .game__block_6,
.game__block_6:hover + .game__block_7,
.game__block_7:hover + .game__block_8,
.game__block_8:hover + .game__block_9,
.game__block_9:hover + .game__block_10,
.game__block_10:hover + .game__block_11,
.game__block_11:hover + .game__block_12,
.game__block_12:hover + .game__block_13,
.game__block_13:hover + .game__block_14,
.game__block_14:hover + .game__block_15,
.game__block_15:hover{
    visibility: visible;
}
